# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#Ignore it in git
misc.xml
vcs.xml
jarRepositories.xml
encodings.xml
compiler.xml

target/
*.class